@font-face {
  font-family: "iconfont"; /* Project id 4935064 */
  src: url('iconfont.woff2?t=1758510333694') format('woff2'),
       url('iconfont.woff?t=1758510333694') format('woff'),
       url('iconfont.ttf?t=1758510333694') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-route:before {
  content: "\e865";
}

.icon-log:before {
  content: "\e7c3";
}

.icon-head:before {
  content: "\e635";
}

.icon-settings:before {
  content: "\e644";
}

.icon-personal:before {
  content: "\e63f";
}

.icon-link:before {
  content: "\e612";
}

.icon-role:before {
  content: "\e613";
}

.icon-upload:before {
  content: "\ebb3";
}

.icon-dict:before {
  content: "\e668";
}

.icon-notice:before {
  content: "\e7ab";
}

.icon-annex:before {
  content: "\e65a";
}

.icon-email:before {
  content: "\e908";
}

.icon-captcha:before {
  content: "\e62b";
}

.icon-password:before {
  content: "\e850";
}

.icon-user:before {
  content: "\e619";
}

.icon-diannao:before {
  content: "\e7fc";
}

.icon-github-flat:before {
  content: "\e885";
}

.icon-gitee-flat:before {
  content: "\e600";
}

.icon-xiazai-flat:before {
  content: "\e608";
}

.icon-shiyongpinci-flat:before {
  content: "\e643";
}

.icon-yonghu-flat:before {
  content: "\e615";
}

.icon-shuliang-flat:before {
  content: "\e6b7";
}

.icon-biaoqian-flat:before {
  content: "\e69f";
}

.icon-account-flat:before {
  content: "\e616";
}

.icon-email-flat:before {
  content: "\e665";
}

.icon-close:before {
  content: "\e791";
}

.icon-refresh:before {
  content: "\e618";
}

