@font-face {
  font-family: "iconfont"; /* Project id 4935064 */
  src: url('iconfont.woff2?t=1754876288886') format('woff2'),
       url('iconfont.woff?t=1754876288886') format('woff'),
       url('iconfont.ttf?t=1754876288886') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e885";
}

.icon-gitee:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e608";
}

.icon-shiyongpinci:before {
  content: "\e643";
}

.icon-yonghu:before {
  content: "\e615";
}

.icon-shuliang:before {
  content: "\e6b7";
}

.icon-biaoqian:before {
  content: "\e69f";
}

.icon-account:before {
  content: "\e616";
}

.icon-email:before {
  content: "\e665";
}

.icon-guanbi:before {
  content: "\e791";
}

.icon-shuaxin:before {
  content: "\e618";
}

