/* 基础样式 */
@use "./element-theme.scss" as *;

/* 导入Element Plus的基础样式 */
@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";

/* 禁止默认聚焦样式 */
:focus-visible {
  outline: none;
}

/** 基础样式 */
.iconfont {
  font-size: 14px;
}

/** 查询表单 */
.query_form {
  padding-bottom: 30px;

  .el-form-item {
    .el-form-item__label {
      font-weight: 700;
    }
  }
}

.el-main {
  background-color: #f8f8f8;

  .main {
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
  }
}
